<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" />
    <meta name=“google-site-verification” content=“S-U3ktXVtHlRD7F4qtVTDNwBtDxXvHbiGI35YZGJC7M” />
    <title>Farmers Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootsnav/css/bootsnav.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/custom-icon/css/style.css">
    <link rel="stylesheet" href="/vendor/owl.carousel2/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="/vendor/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <!-- endinject -->
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'hi,kn,ml,ta,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114411867-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-114411867-1');
    </script>
</head>
<body>

    <!--header start-->
    <header id="header" class="Sticky">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">

            <div class="container">
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <% if (!currentUser) { %>
                        <li class="buy-btn hidden-xs hidden-sm"><a href="/login"><span class="btn btn-sm btn-primary n-MarginTop5 text-uppercase">Login</span></a></li>
                        <li class="buy-btn hidden-xs hidden-sm"><a href="/register"><span class="btn btn-sm btn-primary n-MarginTop5 text-uppercase">Sign Up</span></a></li>
                        <!-- <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li> -->
                        <% } else { %>
                            <li class="buy-btn hidden-xs hidden-sm"><a href="/farmer/new"><span class="btn btn-sm btn-primary n-MarginTop5 text-uppercase">Add New</span></a></li>
                            <li class="buy-btn hidden-xs hidden-sm"><a href="/logout"><span class="btn btn-sm btn-primary n-MarginTop5 text-uppercase">Logout</span></a></li>
                        <% } %>
                        <li><div style="display:inline-block;margin-top:28px;" id="google_translate_element"></div></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/imgs/rit_small.png" class="logo logo-display" alt="">
                        <img src="/imgs/rit_small.png" class="logo logo-scrolled" alt="">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="" data-out="">
                            
                                                
                        <li>
                            <a href="/" >Home</a>
                        </li> 
                        <%  if(currentUser) {if(role==1) { %>
                            <li><a href="/farmer">Farmers</a></li>
                        <% }} %>
                        
                        <!-- <li><a href="#">Contact Us</a></li>     -->
                        <!-- <li><a href="#">About Us</a></li> -->
                        <!-- <li><a href="#">FAQ</a></li> -->
                    </ul>
                </div>
            </div>

            <!-- Start Side Menu -->
            <!-- <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <div class="widget u-MarginTop50">
                    <ul class="link">
                        <li><a href="/">Home</a></li>
                        <li><a href="/schedule">Schedule</a></li>
                        <li><a href="/programs">Programs</a></li>
                        <li><a href="/about">Contact Us</a></li>
                        <li><a href="/contact">About Us</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>

                <div class="widget">
                    <div class="social-links sl-default border-link round-link colored-link">
                        <a href="https://www.facebook.com/mtaiitverzeo/" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/mtaiit/" class="instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div> -->
        </nav>
        <div class="clearfix"></div>
    </header>
