<% include ./partials/header %>
    <section class="ImageBackground ImageBackground--overlay js-FullHeight js-Parallax" data-overlay="5">
        <div class="ImageBackground__holder">
            <img src="/imgs/farming.jpg" alt=""/>
        </div>
        <div class="container u-vCenter">
            <div class="row text-center text-left- text-white">
                <div class="col-md-12">
                    <!-- <div id="counting-date" class="count-transparent h3 u-MarginBottom0 u-xs-MarginTop30 u-MarginTop150"></div> -->
                    <h2 class="u-FontSize75 u-xs-FontSize40 u-Weight700 u-MarginTop0  u-MarginBottom0">Ramaiah Farmers Portal</h2>
                    <h3 class="text-uppercase  text-white u-Weight700 u-MarginTop0 u-MarginBottom50" style="margin-top:25px;">Portal Will be up soon!</h3>
                    <a class="btn btn-gradient- btn--alien- btn-primary text-uppercase u-MarginBottom10 u-LetterSpacing2" href="/register">SIGN UP</a>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--about start-->
    <!-- <section class=" u-PaddingTop100 u-PaddingBottom100  u-xs-PaddingBottom30 u-xs-PaddingTop30 u-sm-PaddingTop50 u-MarginBottom0 u-zIndex10 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <h1 class="u-MarginTop0 u-sm-MarginTop30 u-Weight700">About Program</h1>
                    <p class="u-MarginBottom30 u-xs-MarginBottom30 "><b>Verzeo, presents the Microsoft Technology Associate (MTA) Training Program.</b></p>
                    <p class="">  
                        The Summer Training/Internship Program is a national event launched by Verzeo - Cognizance India in various cities across the country, with an aim to certify students in the fundamentals of various technologies. This summer, along with our partner Microsoft Inc., we launch the MTA Training Program

                        <p><b>MTA certificates signed by the CEO of Microsoft, Satya Nadella.</b> </p>
                        
                        <p><b>The title of Microsoft Technology Associate will be given to each student who successfully completes the course.</b></p>
                        
                        <p><b>Opportunity to be taught by Microsoft Certified Trainers (MCT).</b></p> 
                        
                        <p><b>Opportunity to work on Major and Minor Projects mentored by these Corporate Trainers.</b></p> 
                        
                        <p><b>Project letters for the successful submission of Projects.</b></p>
                        
                        <p><b>Internship Letters from Verzeo and corporate companies, on successful completion of course requirements and projects.</b></p>
                        
                        <p><b>Gaining access to exclusive course content, licensed softwares, etc., as part of the course.</b> </p>
                        
                        <p><b>The course will be taught by MCT Corporate Trainers/Experts in the field The course consists of Theory + Practical components.</b></p>
                        
                        <p><b>Total of 2 projects, one major and one minor will be completed by the students under MCT supervision. Course Modules for each batch of students will be mailed upon registration.</b> </p>    
                        <p><b>Total Number of Hours: 40-45 (Online/Offline)</b></p>

                     </p>
                    <div class="row">
                        <div class="col-sm-6 u-MarginTop50">
                            <p><i class="Icon Icon-colock Icon--32px text-primary" aria-hidden="true"></i></p>
                            <h4>Registrations Open</h4>
                            <p>
                                MTA IIT
                            </p>
                            <p>25th February, 2018 to 5th April, 2018</p>
                        </div>
                    </div>

                    <div class="u-MarginTop50">
                        <a class="btn btn-primary text-uppercase u-MarginBottom10 u-LetterSpacing2" href="/programs">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--about end-->
<!--sponsors start-->
    <section class=" u-PaddingTop100 u-sm-PaddingTop30 u-PaddingBottom100 u-sm-PaddingBottom30">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="u-MarginTop50 u-MarginBottom100 u-sm-MarginBottom30 u-Weight700">Brought to You By</h1>
                </div>
                <div class="Clients col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 text-center u-MarginBottom100 u-xs-MarginBottom30">
                    <a href="http://msrit.edu"><span class="client-border"><img src="/imgs/rit.png" alt="..." width="200" height="100"></span></a>
                    <!-- <a href="http://microsoft.com"><span class="client-border"><img src="/imgs/microsoft.png" alt="..." width="200" height="100"></span></a> -->
                    <!-- <a href="http://verzeo.co.in"><span class="client-border"><img src="/imgs/logo-lights.png" alt="..." width="200" height="100"></span></a> -->
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="colorfull-subscribe u-BoxShadow40 u-PaddingTop150 u-sm-PaddingTop50 u-PaddingBottom150 u-sm-PaddingBottom30">
        <div class="container text-center">
            <h3 class="u-MarginTop0 u-MarginBottom30 u-Weight700">Sign Up For Our Newsletter </h3>
            <div class="row">
                <div class="col-md-4 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="form-group">
                        <input class="form-control " placeholder="Enter your email address" type="email" required>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" onclick="return send()">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <script>
    function send() {
        var email = $("#email").val();
        $.ajax({  
        type: "POST",  
        url: "/subscribe",  
        data: {'email': email},  
        success: function() {  
             alert('Thanks for subscribing!');
        }  
    });  
    }
    </script> -->
<% include ./partials/footer %>
