<% include ./partials/header %>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/metron/src/metron.min.js"></script>
<script src="/js/app.js"></script>
<link rel="stylesheet" href="/bower_components/milligram/dist/milligram.min.css" />
<script type="text/javascript">
//Clone the hidden element and shows it
$('.add-one').click(function(){
  $('.dynamic-element').first().clone().appendTo('.dynamic-stuff').show();
  attach_delete();
});


//Attach functionality to delete buttons
function attach_delete(){
  $('.delete').off();
  $('.delete').click(function(){
    console.log("click");
    $(this).closest('.form-group').remove();
  });
}
</script>
<style>
    main {
        max-width: 800px;
        margin: 50px auto;
    }
    .error {
        border-color: #990000 !important;
    }
</style>
<section class="ImageBackground ImageBackground--overlay v-align-parent u-height450" data-overlay="5">
    <div class="ImageBackground__holder">
        <img src="/imgs/farming.jpg" alt=""/>
    </div>
    <div class="v-align-child">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 text-white text-center">
                    <h1 class="text-uppercase u-Margin0 u-Weight700">Register</h1>
                    <ol class="breadcrumb text-white u-MarginTop10 u-MarginBottom0">
                        <li><a href="#">Home</a></li>
                        <li class="active"><span>Register</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<main>
    <h3>Register Farmer</h3>
    <form method="POST" action="/farmer/new" data-step="1" id="main">
        <section data-step="1">
            <fieldset>
                <legend>Personal Information</legend>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" required="required" />
                <label for="email">Email</label>
                <input id="email" name="email" type="email" required="required" />
                <label for="mobile">Phone Number</label>
                <input id="mobile" name="mobile" type="tel" required="required"/>
                <label for="fhname">Father / Husband's Name</label>
                <input id="fhname" name="fhname" type="text" required="required" />
                <label for="village">Village</label>
                <input id="village" name="village" type="text" required="required" />
                <label for="taluq">Taluq</label>
                <input id="taluq" name="taluq" type="text" required="required" />
                <label for="education">Education</label>
                <input id="education" name="education" type="text" required="required" />
                <label for="hobli">Hobli</label>
                <input id="hobli" name="hobli" type="text" required="required" />
                <label for="aadhar">Aadhar</label>
                <input id="aadhar" name="aadhar" type="text" minlength="12" maxlength="12" pattern="[0-9]{12}" required="required" />
                <label for="annual_income">Annual Income</label>
                <input id="annual_income" name="annual_income" type="text" required="required" />
            </fieldset>
        </section>
        <section data-step="2">
            <fieldset>
                <legend>Bank Details</legend>
                <label for="bank_details[bank_name]">Bank Name</label>
                <input id="bank_details[bank_name]" name="bank_details[bank_name]" type="text" />
                <label for="bank_details[acc_no]">Account Number</label>
                <input id="bank_details[acc_no]" name="bank_details[acc_no]" type="text" />
                <label for="bank_details[branch_name]">Branch Name</label>
                <input id="bank_details[branch_name]" name="bank_details[branch_name]" type="text" />
                <label for="bank_details[ifsc]">IFSC Code</label>
                <input id="bank_details[ifsc]" name="bank_details[ifsc]" type="text" />
                <hr>
                <div id="bank_clonable" style="display:none">
                        <label for="bank_details[bank_name]">Bank Name</label>
                        <input id="bank_details[bank_name]" name="bank_details[bank_name]" type="text" />
                        <label for="bank_details[acc_no]">Account Number</label>
                        <input id="bank_details[acc_no]" name="bank_details[acc_no]" type="text" />
                        <label for="bank_details[branch_name]">Branch Name</label>
                        <input id="bank_details[branch_name]" name="bank_details[branch_name]" type="text" />
                        <label for="bank_details[ifsc]">IFSC Code</label>
                        <input id="bank_details[ifsc]" name="bank_details[ifsc]" type="text" />
                        <hr>
                </div>
                <button id="add_bank_clone"><i class="fa fa-plus"></i></button>
                <button id="remove_bank_clone"><i class="fa fa-minus"></i></button>
                <div class="form-group dynamic-element" style="display:none">
                    <div class="row">
                    <div class="col-md-2"></div>
                    <!-- Replace these fields -->
                    <div class="col-md-4">
                      <select id="profesor" name="profesor[]" class="form-control">
                        <option value="1">Bank Account</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select id="rol" name="rol[]" class="form-control">
                        <option>Rol</option>
                        <option value="1">Guia</option>
                        <option value="2">Co-Guia</option>
                        <option value="3">Presidente</option>
                        <option value="4">Invitado</option>
                      </select>
                    </div>
                      <!-- End of fields-->
                      <div class="col-md-1">
                        <p class="delete">x</p>
                      </div>
                    </div>
                  </div>
            </fieldset>
        </section>
        <section data-step="3">
            <fieldset>
                <legend>Land Details</legend>
                <select name="land_details" id="land_details" required="required" class="form-control">
                    <option value="irrigated">Irrigated</option>
                    <option value="rain_fed">Rain Fed</option>
                    <option value="lease">Lease</option>
                    <option value="leased_out">Leased Out</option>
                </select>

                <label for="land_extent">Extent</label>
                <input id="land_extent" name="land_extent" type="text" required="required" />
                <label for="land_survey_no">Survey Number</label>
                <input id="land_survey_no" name="land_survey_no" type="text" required="required" />
                <label for="land_village">Village</label>
                <input id="land_village" name="land_village" type="text" required="required" />
                <label for="land_name">Name</label>
                <input id="land_name" name="land_name" type="text" required="required" />
                <label for="total_land_query">Total Irrigated</label>
                <input id="total_land_query" name="total_land_query" type="text" required="required" />

                <label for="irrigation_source">Select Irrigation source used</label>
                <select name="irrigation_source" id="irrigation_source" required="required" class="form-control">
                    <option value="borewell">Borewell</option>
                    <option value="depth_borewell">Depth Borewell</option>
                    <option value="yield">Yield</option>
                    <option value="lakeorpond">Lake/Pond</option>
                    <option value="stream">Stream</option>
                    <option value="rain_water_harvesting">Rain Water Harvesting</option>
                </select>
                <hr>
                <div id="land_clonable" style="display:none">
                        <select name="land_details" id="land_details" required="required" class="form-control">
                            <option value="irrigated">Irrigated</option>
                            <option value="rain_fed">Rain Fed</option>
                            <option value="lease">Lease</option>
                            <option value="leased_out">Leased Out</option>
                        </select>
    
                        <label for="land_extent">Extent</label>
                        <input id="land_extent" name="land_extent" type="text" required="required" />
                        <label for="land_survey_no">Survey Number</label>
                        <input id="land_survey_no" name="land_survey_no" type="text" required="required" />
                        <label for="land_village">Village</label>
                        <input id="land_village" name="land_village" type="text" required="required" />
                        <label for="land_name">Name</label>
                        <input id="land_name" name="land_name" type="text" required="required" />
                        <label for="total_land_query">Total Irrigated</label>
                        <input id="total_land_query" name="total_land_query" type="text" required="required" />
    
                        <label for="irrigation_source">Select Irrigation source used</label>
                        <select name="irrigation_source" id="irrigation_source" required="required" class="form-control">
                            <option value="borewell">Borewell</option>
                            <option value="depth_borewell">Depth Borewell</option>
                            <option value="yield">Yield</option>
                            <option value="lakeorpond">Lake/Pond</option>
                            <option value="stream">Stream</option>
                            <option value="rain_water_harvesting">Rain Water Harvesting</option>
                        </select>
                        <hr>
                    </div>
                <button id="add_land_clone"><i class="fa fa-plus"></i></button>
                <button id="remove_land_clone"><i class="fa fa-minus"></i></button>
            </fieldset>
        </section>
        <section data-step="4">
            <fieldset>
                <legend>House Details</legend>
                <label for="house_status">Select House Status</label>
                <select name="house_status" id="house_status"  required="required">
                    <option value="moulded">Moulded</option>
                    <option value="roof">Roof</option>
                    <option value="hut">Hut</option>
                    <option value="rented">Rented</option>
                </select>

                <legend>Domestic Animals</legend>
                <label for="cow_count">Cows</label>
                <input id="cow_count" name="cow_count" type="text" required="required" />
                <label for="calf_count">Calves</label>
                <input id="calf_count" name="calf_count" type="text" required="required" />
                <label for="buffalo_count">Buffalo</label>
                <input id="buffalo_count" name="buffalo_count" type="text" required="required" />
                <label for="ox_count">Ox</label>
                <input id="ox_count" name="ox_count" type="text" required="required" />
                <label for="cock_count">Cock</label>
                <input id="cock_count" name="cock_count" type="text" required="required" />
                <label for="hen_count">Hen</label>
                <input id="hen_count" name="hen_count" type="text" required="required" />
                <label for="sheep_count">Sheep</label>
                <input id="sheep_count" name="sheep_count" type="text" required="required" />
                <label for="goat_count">Goats</label>
                <input id="goat_count" name="goat_count" type="text" required="required" />
                <label for="other_count">Others</label>
                <input id="other_count" name="other_count" type="text" required="required" />
                
            </fieldset>
        </section>
        <button class="button button-outline">Back</button>
        <input class="button button-primary" type="submit" value="Send" />
    </form>
</main>
<% include ./partials/footer %>

<script type="text/javascript">
    var lcCount=0;
    var bcCount=0;
    $('label[for="total_land_query2"]').css("display","none");
    $('#total_land_query2').css("display","none");
    $('#add_land_clone').on('click', function(){
        lcCount++;
        if(lcCount == 1){
            $("#land_clonable").clone().insertAfter("#land_clonable").attr('id','cloned_land'+lcCount).css('display','block');
        }else{
            var lastL=lcCount-1;
            $("#land_clonable").clone().insertAfter("#cloned_land"+lastL).attr('id','cloned_land'+lcCount).css('display','block');

        }
    });
    $('#remove_land_clone').on('click',function(){
        if(lcCount != 0){
            $("#cloned_land"+lcCount).remove();
        }
        lcCount--;
    });
    $('#add_bank_clone').on('click', function(){
        bcCount++;
        if(bcCount == 1){
            $("#bank_clonable").clone().insertAfter("#bank_clonable").attr('id','cloned_bank'+bcCount).css('display','block');
        }else{
            var lastB = bcCount-1;
            $("#bank_clonable").clone().insertAfter("#cloned_bank"+lastB).attr('id','cloned_bank'+bcCount).css('display','block');
        }
    });
    $('#remove_bank_clone').on('click',function(){
        if(bcCount != 0){
            $("#cloned_bank"+bcCount).remove();
        }
        bcCount--;
    });
    $('#land_details').on('change', function() {
        if($('#land_details').val()=='irrigated'){
            $('label[for="total_land_query"]').html("Total Irrigated");
            $('label[for="total_land_query2"]').css("display","none");
            $('#total_land_query2').css("display","none");
        }
        if($('#land_details').val()=='rain_fed'){
            $('label[for="total_land_query"]').html("Total Rain Fed");
            $('label[for="total_land_query2"]').css("display","none");
            $('#total_land_query2').css("display","none");
        }
        if($('#land_details').val()=='lease'){
            $('label[for="total_land_query"]').html("Total Under Lease");
            $('label[for="total_land_query2"]').css("display","none");
            $('#total_land_query2').css("display","none");
        }
        if($('#land_details').val()=='leased_out'){
            $('label[for="total_land_query"]').html("Total Leased Out");
            $('label[for="total_land_query2"]').css("display","block");
            $('#total_land_query2').css("display","inline-block");
        }
    });
</script>