<% include ./partials/header %>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/metron/src/metron.min.js"></script>
<script src="/js/app.js"></script>
<link rel="stylesheet" href="/bower_components/milligram/dist/milligram.min.css" />
<script type="text/javascript">
//Clone the hidden element and shows it
$('.add-one').click(function(){
  $('.dynamic-element').first().clone().appendTo('.dynamic-stuff').show();
  attach_delete();
});


//Attach functionality to delete buttons
function attach_delete(){
  $('.delete').off();
  $('.delete').click(function(){
    console.log("click");
    $(this).closest('.form-group').remove();
  });
}
</script>
<style>
    main {
        max-width: 800px;
        margin: 50px auto;
    }
    .error {
        border-color: #990000 !important;
    }
</style>
<section class="ImageBackground ImageBackground--overlay v-align-parent u-height450" data-overlay="5">
    <div class="ImageBackground__holder">
        <img src="/imgs/farming.jpg" alt=""/>
    </div>
    <div class="v-align-child">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 text-white text-center">
                    <h1 class="text-uppercase u-Margin0 u-Weight700">Register</h1>
                    <ol class="breadcrumb text-white u-MarginTop10 u-MarginBottom0">
                        <li><a href="#">Home</a></li>
                        <li class="active"><span>Register</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<main>
    <h3>Register Farmer</h3>
    <form method="POST" action="/farmer/new" data-step="1" id="main">
        <section data-step="1">
            <fieldset>
                <legend>Personal Information</legend>
                <label for="name">Name</label>
                <input id="name" name="name" type="text"/>
                <label for="fhname">Father / Husband's Name</label>
                <input id="fhname" name="fhname" type="text"/>
                <label for="village">Village</label>
                <input id="village" name="village" type="text"/>
                <label for="hobli">Hobli</label>
                <input id="hobli" name="hobli" type="text"/>
                <label for="taluq">Taluq</label>
                <input id="taluq" name="taluq" type="text"/>
                <label for="age">Age</label>
                <input id="age" name="age" type="text"/>
                <label for="education">Education</label>
                <input id="education" name="education" type="text"/>
                <label for="email">Email (Enter none@example.com if no email is given)</label>
                <input id="email" name="email" type="text"/>
                <label for="mobile">Phone Number</label>
                <input id="mobile" name="mobile" type="tel"/>
                <label for="aadhar">Aadhar</label>
                <input id="aadhar" name="aadhar" type="text"/>
                <label for="annual_income">Annual Income</label>
                <input id="annual_income" name="annual_income" type="text"/>
                <label for="family_occupation">Family Occupation</label>
                <input id="family_occupation" name="family_occupation" type="text"/>
                <legend>House Details</legend>
                <label for="house_status">Select House Status</label>
                <select name="house_status" id="house_status" >
                    <option value="moulded">Moulded</option>
                    <option value="hut">Hut</option>
                    <option value="rented">Rented</option>
                </select>
            </fieldset>
        </section>
        <section data-step="2">
                <fieldset>
                    <legend>Extra Information</legend>
                    <label for="family_male">Male in Family</label>
                    <input id="family_male" name="family_male" type="number"/>
                    <label for="family_female">Female in Family</label>
                    <input id="family_female" name="family_female" type="number"/>
                    <label for="family_children">Children in Family</label>
                    <input id="family_children" name="family_children" type="number"/>
                    <label for="working_member_male">Working Male</label>
                    <input id="working_member_male" name="working_member_male" type="number"/>
                    <label for="working_member_female">Working Female</label>
                    <input id="working_member_female" name="working_member_female" type="number"/>
                    <label for="workers_required_numb">No of Workers Required</label>
                    <input id="workers_required_numb" name="workers_required_numb" type="number"/>
                    <label for="workers_required_excess">Excess of Workers</label>
                    <input id="workers_required_excess" name="workers_required_excess" type="number"/>
                    <label for="workers_required_short_fall">Shortfall of Workers</label>
                    <input id="workers_required_short_fall" name="workers_required_short_fall" type="number"/>
                </fieldset>
        </section>
        <section data-step="3">
                <fieldset>
                    <legend>Bank Details</legend>
                    <label for="bank_details[bank_name]">Bank Name</label>
                    <input id="bank_details[bank_name]" name="bank_details[bank_name]" type="text" />
                    <label for="bank_details[acc_no]">Account Number</label>
                    <input id="bank_details[acc_no]" name="bank_details[acc_no]" type="text" />
                    <label for="bank_details[branch_name]">Branch Name</label>
                    <input id="bank_details[branch_name]" name="bank_details[branch_name]" type="text" />
                    <label for="bank_details[ifsc]">IFSC Code</label>
                    <input class="bank_details[ifsc]" name="bank_details[ifsc]" type="text" />
                    <hr>
                    <div id="bank_clonable" style="display:none">
                            <label for="bank_details[bank_name]">Bank Name</label>
                            <input id="bank_details[bank_name]" name="bank_details[bank_name]" type="text" />
                            <label for="bank_details[acc_no]">Account Number</label>
                            <input id="bank_details[acc_no]" name="bank_details[acc_no]" type="text" />
                            <label for="bank_details[branch_name]">Branch Name</label>
                            <input id="bank_details[branch_name]" name="bank_details[branch_name]" type="text" />
                            <label for="bank_details[ifsc]">IFSC Code</label>
                            <input class="bank_details[ifsc]" name="bank_details[ifsc]" type="text" />
                            <hr>
                    </div>
                    <div style="display: inline-block; color: #fff; background: #9b4dca; width: 9.5rem; padding: 8px 40px; height:  3.8rem; border-radius: .4rem;" id="add_bank_clone"><i class="fa fa-plus"></i></div>
                    <div style="display: inline-block; color: #fff; background: #9b4dca; width: 9.5rem; padding: 8px 40px; height:  3.8rem; border-radius: .4rem;" id="remove_bank_clone"><i class="fa fa-minus"></i></div>
                </fieldset>
            </section>
        <section data-step="4">
            <fieldset>
                <legend>Land Details</legend>
                <select name="land_details" id="land_details" required="required" class="form-control">
                    <option value="irrigated">Irrigated</option>
                    <option value="rain_fed">Rain Fed</option>
                    <option value="lease">Under Lease</option>
                    <option value="leased_out">Leased Out</option>
                </select>

                <label for="land_extent">Extent</label>
                <input id="land_extent" name="land_extent" type="text" />
                <label for="land_survey_no">Survey Number</label>
                <input id="land_survey_no" name="land_survey_no" type="text" />
                <label for="land_village">Village</label>
                <input id="land_village" name="land_village" type="text" />
                <label for="land_name">Name</label>
                <input id="land_name" name="land_name" type="text" />                
                <hr>
                <div id="land_clonable" style="display:none">
                        <select name="land_details" id="land_details" class="form-control">
                            <option value="irrigated">Irrigated</option>
                            <option value="rain_fed">Rain Fed</option>
                            <option value="lease"> Under Lease</option>
                            <option value="leased_out">Leased Out</option>
                        </select>
    
                        <label for="land_extent">Extent</label>
                        <input id="land_extent" name="land_extent" type="text" />
                        <label for="land_survey_no">Survey Number</label>
                        <input id="land_survey_no" name="land_survey_no" type="text" />
                        <label for="land_village">Village</label>
                        <input id="land_village" name="land_village" type="text" />
                        <label for="land_name">Name</label>
                        <input id="land_name" name="land_name" type="text" />
                        <hr>
                    </div>
                <div style="display: inline-block; color: #fff; background: #9b4dca; width: 9.5rem; padding: 8px 40px; height:  3.8rem; border-radius: .4rem;" id="add_land_clone"><i class="fa fa-plus"></i></div>
                <div style="display: inline-block; color: #fff; background: #9b4dca; width: 9.5rem; padding: 8px 40px; height:  3.8rem; border-radius: .4rem;" id="remove_land_clone"><i class="fa fa-minus"></i></div>
                
                
                
                <label for="total_land_irrigated">Total Irrigated</label>
                <input id="total_land_irrigated" name="total_land_irrigated" type="text" />
                <label for="total_land_rain_fed">Total Rain Fed</label>
                <input id="total_land_rain_fed" name="total_land_rain_fed" type="text" />
                <label for="total_land_lease">Total Land Under Lease</label>
                <input id="total_land_lease" name="total_land_lease" type="text" />
                <label for="total_land_leased_out">Total Land Leased Out</label>
                <input id="total_land_leased_out" name="total_land_leased_out" type="text" />
                <label for="total_land_query">Total Land Holding</label>
                <input id="total_land_query" name="total_land_query" type="text" />
                
            </fieldset>
        </section>
        <section data-step="5">
                <fieldset>
                    <legend>Irrigation Source</legend>
                        <label for="irrigation_source">Source of Irrigation</label>
                        <select name="irrigation_source" id="irrigation_source" class="form-control">
                            <option value="borewell">Borewell</option>
                            <option value="lakeorpond">Lake/Pond</option>
                            <option value="stream">Stream</option>
                            <option value="rain_water_harvesting">Rain Water Harvesting</option>
                        </select>
                        <label for="depth">Depth</label>
                        <input id="depth" name="depth" type="text" />
                        <label for="yield">Yield</label>
                        <input id="yield" name="yield" type="text" />
                </fieldset>
            </section>
        <section data-step="6">
            <fieldset>
                <legend>Domestic Animals</legend>
                <label for="cow_count">Cows</label>
                <input id="cow_count" name="cow_count" type="text" />
                <label for="cow_calf_count">Calves of Cow</label>
                <input id="cow_calf_count" name="cow_calf_count" type="text" />
                <label for="buffalo_count">Buffalo</label>
                <input id="buffalo_count" name="buffalo_count" type="text" />
                <label for="buffalo_calf_count">Calves of Buffalo</label>
                <input id="buffalo_calf_count" name="buffalo_calf_count" type="text" />
                <label for="ox_count">Ox</label>
                <input id="ox_count" name="ox_count" type="text" />
                <label for="cock_count">Cock</label>
                <input id="cock_count" name="cock_count" type="text" />
                <label for="hen_count">Hen</label>
                <input id="hen_count" name="hen_count" type="text" />
                <label for="sheep_count">Sheep</label>
                <input id="sheep_count" name="sheep_count" type="text" />
                <label for="goat_count">Goats</label>
                <input id="goat_count" name="goat_count" type="text" />
                <label for="other_count">Others</label>
                <input id="other_count" name="other_count" type="text" />
                
            </fieldset>
        </section>
        <section data-step="7">
                <fieldset>
                    <legend>Sericulture</legend>
                    <label for="extent_mulbery_cultivation">Extent of Mulbery Cultivation</label>
                    <input id="extent_mulbery_cultivation" name="extent_mulbery_cultivation" type="text"/>

                    <label for="silk_worm_rearing_house">Silk Worm Rearing House</label>
                    <input id="silk_worm_rearing_house" name="silk_worm_rearing_house" type="text"/>
                    
                    <label for="mulbery_self_consumption">Mulbery Self Consumption</label>
                    <input id="mulbery_self_consumption" name="mulbery_self_consumption" type="text"/>
                    <label for="mulbery_selling">Mulbery Selling</label>
                    <input id="mulbery_selling" name="mulbery_selling" type="text"/>
                </fieldset>
        </section>
        <section data-step="8">
                <fieldset>
                    <legend>Farming Machines</legend>
                    <label for="farming_machines_tractor">Tractor</label>
                    <!-- <input id="farming_machines_tractor" name="farming_machines_tractor" type="text"/> -->
                    <select name="farming_machines_tractor" id="farming_machines_tractor" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                    <label for="farming_machines_power_tiller">Power Tiller</label>
                    <!-- <input id="farming_machines_power_tiller" name="farming_machines_power_tiller" type="text"/> -->
                    <select name="farming_machines_power_tiller" id="farming_machines_power_tiller" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                    <label for="farming_machines_plougher">Plougher</label>
                    <!-- <input id="farming_machines_plougher" name="farming_machines_plougher" type="text"/> -->
                    <select name="farming_machines_plougher" id="farming_machines_plougher" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                    <label for="farming_machines_rotomator">Rotomator</label>
                    <!-- <input id="farming_machines_rotomator" name="farming_machines_rotomator" type="text"/> -->
                    <select name="farming_machines_rotomator" id="farming_machines_rotomator" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                    <label for="farming_machines_bulloc_cart">Bulloc Cart</label>
                    <!-- <input id="farming_machines_bulloc_cart" name="farming_machines_bulloc_cart" type="text"/> -->
                    <select name="farming_machines_bulloc_cart" id="farming_machines_bulloc_cart" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                    <label for="farming_machines_spraying_machine">Spraying Machine</label>
                    <!-- <input id="farming_machines_spraying_machine" name="farming_machines_spraying_machine" type="text"/> -->
                    <select name="farming_machines_spraying_machine" id="farming_machines_spraying_machine" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                    <label for="farming_machines_sprinkler">Sprinkler</label>
                    <!-- <input id="farming_machines_sprinkler" name="farming_machines_sprinkler" type="text"/> -->
                    <select name="farming_machines_sprinkler" id="farming_machines_sprinkler" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                    <label for="farming_machines_drip_irrigation">Drip Irrigation</label>
                    <!-- <input id="farming_machines_drip_irrigation" name="farming_machines_drip_irrigation" type="text"/> -->
                    <select name="farming_machines_drip_irrigation" id="farming_machines_drip_irrigation" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>

                    <label for="farming_machines_source_farm_equipments">Source of Farm Equipments</label>
                    <input id="farming_machines_source_farm_equipments" name="farming_machines_source_farm_equipments" type="text"/>
                    <label for="farming_machines_willing_to_rent_farm_equipments">Willing to Rent Farm Equipments</label>
                    <!-- <input id="farming_machines_willing_to_rent_farm_equipments" name="farming_machines_willing_to_rent_farm_equipments" type="text"/> -->
                    <select name="farming_machines_willing_to_rent_farm_equipments" id="farming_machines_willing_to_rent_farm_equipments" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <legend>Poly House (if Poly House is there, enter extent)</legend>
                    <label for="poly_house_extent">Poly House Extent</label>
                    <input id="poly_house_extent" name="poly_house_extent" type="text"/>
                </fieldset>
        </section>
        <section data-step="9">
                <fieldset>
                    <legend>Crop Details</legend>
                    <label for="crop_details_crop">Crop</label>
                    <input id="crop_details_crop" name="crop_details_crop" type="text"/>
                    <label for="crop_details_extent">Extent</label>
                    <input id="crop_details_extent" name="crop_details_extent" type="text"/>
                    <label for="crop_details_irrigated">Irrigated</label>
                    <input id="crop_details_irrigated" name="crop_details_irrigated" type="text"/>
                    <label for="crop_details_rain_fed">Rain Fed</label>
                    <input id="crop_details_rain_fed" name="crop_details_rain_fed" type="text"/>
                    <label for="crop_details_species">Species</label>
                    <input id="crop_details_species" name="crop_details_species" type="text"/>
                    <label for="crop_details_date_seeding">Date of Seeding</label>
                    <input id="crop_details_date_seeding" name="crop_details_date_seeding" type="text"/>
                    <label for="crop_details_expected_date_of_yield">Expected Date of Yield</label>
                    <input id="crop_details_expected_date_of_yield" name="crop_details_expected_date_of_yield" type="text"/>
                    <label for="crop_details_expected_production">Expected Production</label>
                    <input id="crop_details_expected_production" name="crop_details_expected_production" type="text"/>
                    <label for="crop_details_unit">Unit</label>
                    <input id="crop_details_unit" name="crop_details_unit" type="text"/>
                    <label for="crop_details_soil_type">Soil Type</label>
                    <input id="crop_details_soil_type" name="crop_details_soil_type" type="text"/>
                    <hr>
                    <div id="crop_clonable" style="display:none">
                        <label for="crop_details_crop">Crop</label>
                        <input id="crop_details_crop" name="crop_details_crop" type="text"/>
                        <label for="crop_details_extent">Extent</label>
                        <input id="crop_details_extent" name="crop_details_extent" type="text"/>
                        <label for="crop_details_irrigated">Irrigated</label>
                        <input id="crop_details_irrigated" name="crop_details_irrigated" type="text"/>
                        <label for="crop_details_rain_fed">Rain Fed</label>
                        <input id="crop_details_rain_fed" name="crop_details_rain_fed" type="text"/>
                        <label for="crop_details_species">Species</label>
                        <input id="crop_details_species" name="crop_details_species" type="text"/>
                        <label for="crop_details_date_seeding">Date of Seeding</label>
                        <input id="crop_details_date_seeding" name="crop_details_date_seeding" type="text"/>
                        <label for="crop_details_expected_date_of_yield">Expected Date of Yield</label>
                        <input id="crop_details_expected_date_of_yield" name="crop_details_expected_date_of_yield" type="text"/>
                        <label for="crop_details_expected_production">Expected Production</label>
                        <input id="crop_details_expected_production" name="crop_details_expected_production" type="text"/>
                        <label for="crop_details_unit">Unit</label>
                        <input id="crop_details_unit" name="crop_details_unit" type="text"/>
                        <label for="crop_details_soil_type">Soil Type</label>
                        <input id="crop_details_soil_type" name="crop_details_soil_type" type="text"/>
                        <hr>
                    
                    </div>
                    <div style="display: inline-block; color: #fff; background: #9b4dca; width: 9.5rem; padding: 8px 40px; height:  3.8rem; border-radius: .4rem;" id="add_crop_clone"><i class="fa fa-plus"></i></div>
                    <div style="display: inline-block; color: #fff; background: #9b4dca; width: 9.5rem; padding: 8px 40px; height:  3.8rem; border-radius: .4rem;" id="remove_crop_clone"><i class="fa fa-minus"></i></div>    
                </fieldset>
        </section>
        <section data-step="10">
            <fieldset>
                    <legend>Soil Test (Skip if not done)</legend>
                <label for="crop_details_soil_test">Soil Test</label>
                    <input id="crop_details_soil_test" name="crop_details_soil_test" type="text"/>
                    <label for="crop_details_ph_value">pH Value</label>
                    <input id="crop_details_ph_value" name="crop_details_ph_value" type="text"/>
                    <label for="crop_details_organic_carbon">Organic Carbon</label>
                    <input id="crop_details_organic_carbon" name="crop_details_organic_carbon" type="text"/>
                    <label for="crop_details_n">N</label>
                    <input id="crop_details_n" name="crop_details_n" type="text"/>
                    <label for="crop_details_p">P</label>
                    <input id="crop_details_p" name="crop_details_p" type="text"/>
                    <label for="crop_details_k">K</label>
                    <input id="crop_details_k" name="crop_details_k" type="text"/>
                    <label for="crop_details_others">Others</label>
                    <input id="crop_details_others" name="crop_details_others" type="text"/>
            </fieldset>
        </section>
        <section data-step="11">
                <fieldset>
                    <legend>Sales</legend>
                    <label for="sales_local">Local</label>
                    <!-- <input id="sales_local" name="sales_local" type="text"/> -->
                    
                    <select name="sales_local" id="sales_local" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>

                    <label for="sales_village_fairs">Village Fairs</label>
                    <!-- <input id="sales_village_fairs" name="sales_village_fairs" type="text"/> -->
                    
                    <select name="sales_village_fairs" id="sales_village_fairs" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    
                    <label for="sales_apmc">APMC</label>
                    <!-- <input id="sales_apmc" name="sales_apmc" type="text"/> -->
                    
                    <select name="sales_apmc" id="sales_apmc" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    
                    <label for="willing_to_sell_online">Willing to sell online</label>
                    <!-- <input id="willing_to_sell_online" name="willing_to_sell_online" type="text"/> -->
                    
                    <select name="willing_to_sell_online" id="willing_to_sell_online" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <label for="scifi_farming">Would you like to have Scientific Farming ?</label>
                    <select name="scifi_farming" id="scifi_farming" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                </fieldset>
        </section>
        <section data-step="12">
                <fieldset>
                    <legend>Bank Loan</legend>
                    <label for="bank_bank_name">Bank Name</label>
                    <input id="bank_bank_name" name="bank_bank_name" type="text"/>
                    <label for="bank_branch">Branch</label>
                    <input id="bank_branch" name="bank_branch" type="text"/>
                    <label for="bank_loan_amount">Loan Amount</label>
                    <input id="bank_loan_amount" name="bank_loan_amount" type="text"/>
                    <label for="bank_purpose">Purpose</label>
                    <input id="bank_purpose" name="bank_purpose" type="text"/>
                    <label for="bank_repayment_date">Repayment Date</label>
                    <input id="bank_repayment_date" name="bank_repayment_date" type="text"/>
                </fieldset>
        </section>
        
        <section data-step="13">
                <fieldset>
                    <legend>Feedback</legend>
                    <label for="nursery">Nursery</label>
                    <select name="nursery" id="nursery" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                    <label for="any_other_information">Any Other Information</label>
                    <input id="any_other_information" name="any_other_information" type="text"/>
                    <label for="data_collected_by">Data Collected By</label>
                    <input id="data_collected_by" name="data_collected_by" type="text"/>
                </fieldset>
        </section>
        <button class="button button-outline">Back</button>
        <input class="button button-primary" type="submit" value="Send" />
    </form>
</main>
<% include ./partials/footer %>

<script type="text/javascript">
    var lcCount=0;
    var bcCount=0;
    var ccCount=0;
    var filterMobile = /^[0-9]{10}$/;
    var filterAadhar = /^[0-9]{12}$/;
    var filterEmail = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    var mBool = false;
    var aBool = false;
    var eBool = false;
    var confBool = false;
    $(document).ready(function(){
        $("input[type='submit']").attr("disabled","disabled");
    });
    $('#mobile').on('change paste keyup',function(){
        if(filterMobile.test($('#mobile').val())){
            mBool = true;
        } else {
            mBool = false;
        }
        if(mBool && eBool && aBool){
            $("input[type=submit]").removeAttr("disabled");
        } else {
            $("input[type='submit']").attr("disabled","disabled");
        }
    });
    $('#email').on('blur',function(){
        if(!eBool && !confBool){
            confBool = confirm("Enter a valid email address!");
        } else {
            confBool = false;
        }
    });
    $('#mobile').on('blur',function(){
        if(!mBool && !confBool){
            confBool = confirm("Enter a valid mobile number!");
        } else {
            confBool = false;
        }
    });
    $('#aadhar').on('blur',function(){
        if(!aBool && !confBool){
            confBool = confirm("Enter a valid aadhar number!");
        } else {
            confBool = false;
        }
    });
    $('#aadhar').on('change paste keyup',function(){
        if(filterAadhar.test($('#aadhar').val())){
            aBool=true;
        } else {
            aBool=false;
        }
        if(mBool && eBool && aBool){
            $("input[type=submit]").removeAttr("disabled");
        } else {
            $("input[type='submit']").attr("disabled","disabled");
        }
    });
    $('#email').on('change paste keyup', function(){
        if ($('#email').val()) {
        if(filterEmail.test($('#email').val())){
            eBool=true;
        } else {
            eBool=false;
        }
        if(mBool && eBool && aBool){
            $("input[type=submit]").removeAttr("disabled");
        } else {
            $("input[type='submit']").attr("disabled","disabled");
        } 
        }
    });
    $('label[for="total_land_query2"]').css("display","none");
    $('#total_land_query2').css("display","none");
    $('#add_land_clone').on('click', function(){
        lcCount++;
        if(lcCount == 1){
            $("#land_clonable").clone().insertAfter("#land_clonable").attr('id','cloned_land'+lcCount).css('display','block');
        }else{
            var lastL=lcCount-1;
            $("#land_clonable").clone().insertAfter("#cloned_land"+lastL).attr('id','cloned_land'+lcCount).css('display','block');

        }
    });

    $('#add_crop_clone').on('click', function(){
        ccCount++;
        if(ccCount == 1){
            $("#crop_clonable").clone().insertAfter("#crop_clonable").attr('id','cloned_crop'+ccCount).css('display','block');
        }else{
            var lastC=ccCount-1;
            $("#crop_clonable").clone().insertAfter("#cloned_crop"+lastC).attr('id','cloned_crop'+ccCount).css('display','block');

        }
    });

    $('#remove_land_clone').on('click',function(){
        if(lcCount != 0){
            $("#cloned_land"+lcCount).remove();
        }
        lcCount--;
    });

    $('#remove_crop_clone').on('click',function(){
        if(ccCount != 0){
            $("#cloned_crop"+ccCount).remove();
        }
        ccCount--;
    });
    $('#add_bank_clone').on('click', function(){
        bcCount++;
        if(bcCount == 1){
            $("#bank_clonable").clone().insertAfter("#bank_clonable").attr('id','cloned_bank'+bcCount).css('display','block');
        }else{
            var lastB = bcCount-1;
            $("#bank_clonable").clone().insertAfter("#cloned_bank"+lastB).attr('id','cloned_bank'+bcCount).css('display','block');
        }
    });
    $('#remove_bank_clone').on('click',function(){
        if(bcCount != 0){
            $("#cloned_bank"+bcCount).remove();
        }
        bcCount--;
    });
    $('#land_details').on('change', function() {
        if($('#land_details').val()=='irrigated'){
            $('label[for="total_land_query"]').html("Total Irrigated");
            $('label[for="total_land_query2"]').css("display","none");
            $('#total_land_query2').css("display","none");
        }
        if($('#land_details').val()=='rain_fed'){
            $('label[for="total_land_query"]').html("Total Rain Fed");
            $('label[for="total_land_query2"]').css("display","none");
            $('#total_land_query2').css("display","none");
        }
        if($('#land_details').val()=='lease'){
            $('label[for="total_land_query"]').html("Total Under Lease");
            $('label[for="total_land_query2"]').css("display","none");
            $('#total_land_query2').css("display","none");
        }
        if($('#land_details').val()=='leased_out'){
            $('label[for="total_land_query"]').html("Total Leased Out");
            $('label[for="total_land_query2"]').css("display","block");
            $('#total_land_query2').css("display","inline-block");
        }
    });
</script>