<% include ./partials/header %>
<section class="ImageBackground ImageBackground--overlay v-align-parent u-height450 " data-overlay="5">
        <div class="ImageBackground__holder">
            <img src="/imgs/bg.jpg" alt=""/>
        </div>
        <div class="v-align-child">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-12 text-white text-center">
                        <h1 class="text-uppercase u-Margin0 u-Weight700">Programs</h1>
                        <ol class="breadcrumb text-white u-MarginTop10 u-MarginBottom0">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Programs</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="u-BoxShadow40">

        <div class="ImageBlock ImageBlock--switch">
            <div class="ImageBlock__image col-md-6 col-sm-4">
                <div class="ImageBackground ImageBackground--overlay" data-overlay="0">
                    <div class="ImageBackground__holder">
                        <img src="/imgs/azure.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="container" id="it">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <h1 class="u-MarginTop0 u-MarginBottom0 u-Weight700">Azure Cloud Computing</h1>
                        <h3 class="u-MarginTop10 text-gray">98-369</h3>
                        <p> Cloud Computing is the phenomena of saving information on the internet and then
                            managing it as per our requirements. Since cloud computing is the new buzz in the industry and it surely
                            is the present and future technology trainees are excited for this course. This course will cover basics of
                            cloud computing where different models will be illustrated as well as their differentiations will be made
                            clear. Creating apps, storing and managing data are few of the many things that will be demonstrated to
                            the learners with an approach to clear all doubts and a clear understanding of the topic.
                            </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ImageBlock">
            <div class="ImageBlock__image col-md-6 col-sm-4">
                <div class="ImageBackground ImageBackground--overlay" data-overlay="0">
                    <div class="ImageBackground__holder">
                        <img src="/imgs/banner/code.jpg" alt=""/>
                    </div>
                </div>
            </div>
            <div class="container" id="industry">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <h1 class="u-MarginTop0 u-MarginBottom0 u-Weight700">Introduction to Web Development</h1>
                        <h3 class="u-MarginTop10 text-gray">98-375</h3>
                        <p>Devs, want to leverage the latest Microsoft technologies to create web applications? Thanks to our free web development courses, you can get the training you need from industry experts.
                             Explore the classes available and learn web development techniques and tips using HTML5 and JavaScript, plus back-end, server-side development with MVC and C#.</p>
                        <p><strong>Introduction to Programming Using Python: 98-381 </strong></p>
                        <p><strong>Introduction to Programming Using JavaScript: 98-382</strong></p>
                        <p><strong>Introduction to Programming Using HTML and CSS: 98-383</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ImageBlock ImageBlock--switch">
                <div class="ImageBlock__image col-md-6 col-sm-4">
                    <div class="ImageBackground ImageBackground--overlay" data-overlay="0">
                        <div class="ImageBackground__holder">
                            <img src="/imgs/sharepoint.jpg" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="container" id="innovation">
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
                            <h1 class="u-MarginTop0 u-MarginBottom0 u-Weight700">SharePoint</h1>
                            <h3 class="u-MarginTop10 text-gray">MCSE-70332</h3>
                            <p>It’s a data sharing platform collaborated with Microsoft. Different access options are
                                available maintaining the security aspects of data sharing. The product is offered in the cloud from
                                where different people with permission to access or manipulate can work on it. Seamless access to
                                all forms of data can be achieved and helps a lot for in organisation data distribution. In this course
                                learners will be trained to design different Sharepoint application and other types of content. Full
                                features and capabilities will be taught along with relevant assignments and practicals.</p>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div class="ImageBlock">
                <div class="ImageBlock__image col-md-6 col-sm-4">
                    <div class="ImageBackground ImageBackground--overlay" data-overlay="0">
                        <div class="ImageBackground__holder">
                            <img src="/imgs/banner/ml.jpg" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="container" id="industry">
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
                            <h1 class="u-MarginTop0 u-MarginBottom0 u-Weight700">Machine Learning</h1>
                            <h3 class="u-MarginTop10 text-gray">70-773</h3>
                            <p>Machine learning is a field of computer science that gives computers the ability to learn without being explicitly programmed.
                            </p>
                            <p>Dive into Machine Learning with Microsoft. 
                                Evolved from the study of pattern recognition and computational learning theory in artificial intelligence, machine learning explores the study and construction of algorithms that can learn from 
                                and make predictions on data – such algorithms overcome following strictly static program instructions by making data-driven predictions or decisions, through building a model from sample inputs. </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

<% include ./partials/footer %>